<strong>Olá {{ deliveryman }}</strong>
<p>Há uma nova entrega cadastrada para retirar em seu nome, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
</p>
<p>
  <strong>Endereço: </strong>
  <p>
    <strong>Rua: </strong> {{ recadress }} <br />
    <strong>Número: </strong> {{ recnumber }} <br />
    <strong>Complemento: </strong> {{ reccomplement }} <br />
    <strong>Estado: </strong> {{ recstate }} <br />
    <strong>Cidade: </strong> {{ reccity }} <br />
    <strong>Cep: </strong> {{ reczipcode }} <br />

  </p>
</p>
